body {background-color:lightgray;} 
		h1 {
	       font-family: "calibri";
            font-size:70px;
            text-align: center;
        }
		h2 {
	font-family: "calibri";
		}
		h2 {
	font-size:40px;
		}
		h3 {
	font-size:25px;
		}
		h3 {
	font-family: "calibri";
		}
        p {
    font-family: "calibri";
		}
		li {
	font-family: "calibri";
		}
		nav {
	background-color:lightblue;
	height:50px;
		}
		nav ul {
	height:50px;
	width:800px;
	margin: 0 auto;
		}
		nav ul li {
	list-style-type:none;
	width: 200px;
	float: left;
		}
		nav ul li a {
	text-decoration: none;
	color:dodgerblue;
	line-height:50px;
	display:block;
	text-align:center;
		}
		nav ul li a:hover {
	background-color:cadetblue;
	color:white;
	
		}